img{
    width: 25vw;
    filter: drop-shadow(5px 5px 5px rgb(105, 105, 95));
    
}
.www{
    height: 35vh;
    align-self: center;
    margin: 25px;
}

body{
    background-color: #fffcb8;
}
h1{
    color: rgb(218, 21, 61);
}
*{
    font-family: 'Times New Roman', Times, serif;
}
.na{
    color:#b55519;
    
}
p{
    display: inline-block;
    width: 50vw;
}
.ne{
    color: #bc6634;
}
.yar{
    color: #ea7f2e;
    padding-top: 10px;
    padding-left: 10px;
}
nav{
    background-color: #f8f59e;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
    width: 100vw;

}
.qqq{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.but{
    border-radius: 25px ;
    background-color:  rgb(222, 238, 143);
    height: 50px;
    width: 50px;
    align-self: center;
    margin: 5px;
}
.ex{
    width: 50px;
    margin: 5px ;
}
.navigation{
    display: none;
    flex-direction: row;
    justify-content:space-around ;
    

}
td,th{
    
    padding: 15px;
}
.title{
    padding: 15px;
    border: 2px dotted rgb(5, 18, 96);
    align-self: center;
    
}

footer{
    background-color: #f2ee78;
    width: 100vw;
}
label,input{
    padding: 5px;
    margin: 10px;
}
li:hover{
    color: red;
}

.side{
    display: inline-block;

}
.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
}
.side{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    border-radius: 50px;
    margin: 50px;
    background-color: #f8f59e;
    
}
a{
    text-decoration: none;
    background-color: rgb(222, 238, 143);
    padding: 10px;
    border: 2px solid black;
    margin-top: 10px;
    align-self: center;
}
.photo{
    width: 100px;

}
.thum{
    display: flex;
    justify-content: space-around;
    margin: 40px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
}
.tech{
    text-align: center;
    margin-top: 30px;
    text-decoration: rgb(218, 21, 61) ;
}
.ttt{
    display: flex;
    justify-content: center;
}
.bol{
    font-weight: bold;
    text-align: center;
}
.show{
    display: flex;
}

